@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kumbh+Sans:wght@600;700;800&family=Nunito:ital,wght@1,700;1,1000&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

#left_war{
    filter: drop-shadow(0 4px 8px rgba(95, 52, 52, 0.905));
    transition: filter 0.3s ease-in-out;
}

#characters_img{
    filter: drop-shadow(0 4px 28px rgba(255, 255, 255, 0.185));
    transition: filter 0.3s ease-in-out;
}

#partners{
    div{
        img{
            filter: drop-shadow(2px 5px 28px #01699E);
        }
    }
}

#reg_form{
    box-shadow: 2px 5px 40px .2px rgba(0, 0, 0, 0.633);
}

#cl_pt{
    clip-path: polygon(50% 12%, 50% 12%, 100% 30%, 100% 67%, 52% 80%, 52% 80%, 0 68%, 0 29%);
}

#circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(
        from 0deg,
        #FF5733 0% 10%, /* Vermilion */
        #FFC300 10% 15%, /* Goldenrod */
        #FF85A2 15% 35%, /* Salmon Pink */
        #9A79FE 35% 42%, /* Dark Lilac */
        #FF5733 42% 45%, /* Vermilion */
        #DAF7A6 45% 60%, /* Magic Mint */
        #9A6324 60% 100% /* Deep Chestnut */
    );
}