@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kumbh+Sans:wght@600;700;800&family=Nunito:ital,wght@1,700;1,1000&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#header_txt{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: 1.5px;
}

p{
    color: #ffffff80;
    font-size: 15px;
    font-weight: 200;
}